
.social_icon {
    width: 15%;
    margin: 0 auto;
    text-align: center;
}
.social_icon {
    width: 25%;
}
.social_icon {
    width: 27%;
}
.social_icon {
    width: 37%;
}
.social_icon {
    width: 60%;
}
